<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="Ferrari - Creatrive / Corporate / Single Page Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Corporate , Corporate portfolio template, Corporate portfolio, landing page, single page, Business, Bootstrap, HTML , CSS , One page">
        <meta name="author" content="codeshaper.net">
        <title>Ferrari - Creatrive / Corporate / Single Page Template</title>
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- CSS -->
        <!-- font famil CSS
            ============================================ -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <!-- Bootstrap CSS
            ============================================ -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Icon Font CSS
            ============================================ -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <!-- swipe slider css
            ============================================ -->
        <link rel="stylesheet" href="assets/css/prettyPhoto.css">
        <!-- swipe slider css
            ============================================ -->
        <link rel="stylesheet" href="assets/css/swiper.min.css">
        <!-- owl carrosel css
            ============================================ -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!-- slider css
            ============================================ -->
        <link rel="stylesheet" href="assets/css/sliderDefault.css">
        <link rel="stylesheet" href="assets/css/sliderCustomDark.css">
        <!-- Style CSS
            ============================================ -->
        <link rel="stylesheet" href="assets/css/dark.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <!-- Modernizer JS
            ============================================ -->
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!-- Body main wrapper start -->
        <!-- loader section -->
        <div id="preloader">
            <div class="preloader-center">
                <div class="preloader-center-absolute">
                    <div class="object"></div>
                </div>
            </div>
        </div>

        <!-- Menu Area
        ============================================ -->
        <section id="menu_area" class="navbar-fixed-top">
            <div class="container">
                <nav class="navbar navbar-default">
                    <a class="logo" href="#">
                        <img src="assets/img/logo-dark.png" alt="logo">
                        <!-- CreativeLogo -->
                    </a>
                    <div  class="open">
                        <div class="cls"></div>
                        <div>
                            <ul class="sub-menu">
                                <li>
                                    <a data-scroll href="#menu_area" title="home">Home</a>
                                </li>
                                <li>
                                    <a data-scroll href="#about" title="about">About us</a>
                                </li>
                                <li>
                                    <a data-scroll href="#service" title="service">Our Services</a>
                                </li>
                                <li>
                                    <a data-scroll href="#Features" title="coFeaturesntact">Features</a>
                                </li>
                                <li>
                                    <a data-scroll href="#Portfolio" title="Portfolio">Our Portfolio</a>
                                </li>
                                <li>
                                    <a data-scroll href="#Team" title="team">Team</a>
                                </li>
                                <li>
                                    <a data-scroll href="#Pricing" title="Pricing">Pricing</a>
                                </li>
                                <li>
                                    <a data-scroll href="#contact" title="contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="cls"></div>
                    </div>
                </nav>
            </div>
        </section>
        <!-- End Menu Area
        ============================================ -->

        <!-- Slider Area
        ============================================ -->
        <section id="sliderArea">
            <div class="demo-1">
                <div id="slider" class="sl-slider-wrapper">
                    <div class="sl-slider">
                        <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                            <div class="sl-slide-inner">
                                <div class="deco" data-icon="">
                                    <img src="assets/img/headshot1.png" alt="img" />
                                </div>
                                <h2>Lorem ipsum</h2>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non ipsum facilisis, tristique nulla vel,.</p>
                                    <cite>Jhon Doe</cite>
                                </blockquote>
                            </div>
                        </div>
                        <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                            <div class="sl-slide-inner">
                                <div class="deco" data-icon="">
                                    <img src="assets/img/s.png" alt="img" />
                                </div>
                                <h2>Lorem ipsum</h2>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non ipsum facilisis, tristique nulla vel,.</p>
                                    <cite>Jhon Doe</cite>
                                </blockquote>
                            </div>
                        </div>
                        <div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                            <div class="sl-slide-inner">
                                <div class="deco" data-icon="">
                                    <img src="assets/img/s1.png" alt="img" />
                                </div>
                                <h2>Lorem ipsum</h2>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non ipsum facilisis, tristique nulla vel,.</p>
                                    <cite>Jhon Doe</cite>
                                </blockquote>
                            </div>
                        </div>
                        <div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                            <div class="sl-slide-inner">
                                <div class="deco" data-icon="">
                                    <img src="assets/img/s3.png" alt="img" />
                                </div>
                                <h2>Lorem ipsum</h2>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non ipsum facilisis, tristique nulla vel,.</p>
                                    <cite>Jhon Doe</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <!-- /sl-slider -->
                    <nav id="nav-arrows" class="nav-arrows">
                        <span class="nav-arrow-prev">Previous</span>
                        <span class="nav-arrow-next">Next</span>
                    </nav>
                    <nav id="nav-dots" class="nav-dots">
                        <span class="nav-dot-current"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </nav>
                </div>
                <!-- /slider-wrapper -->
            </div>
        </section>
        <!-- End Slider Area
        ============================================ -->

        <!-- About us Area
        ============================================ -->
        <section id="about" class="section bg-grey">
            <div class="container">
                <header class="section-header">
                    <small>About</small>
                    <h2>Know Us</h2>
                    <hr>
                    <p class="lead opacity-70">Choose any of the following plans to get start with. You can start with the FREE plan to see our web application at first. You can always change your plan from your account.</p>
                </header>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h3>Envato Integration</h3>
                        <p>We have used the Envato API in our development to reduce all the burden of you and your customersWe have used the Envato API in our development to reduce all the burden of you and your customers.</p>
                        <br>
                        <p>
                            <i class="ti-check text-success mr-8"></i>
                            <span class="fs-14">Login using your Envato account</span>
                        </p>
                        <p>
                            <i class="ti-check text-success mr-8"></i>
                            <span class="fs-14">Your items will import automatically</span>
                        </p>
                        <p>
                            <i class="ti-check text-success mr-8"></i>
                            <span class="fs-14">Your customers doesn't need to provide purchase code</span>
                        </p>
                        <p>
                            <i class="ti-check text-success mr-8"></i>
                            <span class="fs-14">Identify if a customer has a valid support</span>
                        </p>
                        <p>
                            <i class="ti-check text-success mr-8"></i>
                            <span class="fs-14">Identify if a customer has a valid support</span>
                        </p>
                        <p>
                            <i class="ti-check text-success mr-8"></i>
                            <span class="fs-14">Identify if a customer has a valid support</span>
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-6 hidden-xs">
                        <div class="swiper-container swiper-pagination-outside shadow-3" data-autoplay="2000" data-loop="true" data-space-between="20">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="assets/img/slider/slider-dashboard.jpg" alt="...">
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/img/slider/slider-admin.jpg" alt="...">
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/img/slider/slider-items.jpg" alt="...">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About us Area
        ============================================ -->
        <div class="page-header">
            <h1>Таблица Google Sheets</h1>
        </div>
            <div class="container_table">
                <table>
                    <tr>
                        <th>Поток</th>
                        <th>Дата</th>
                        <th>№</th>
                        <th style="max-width:40%;">Фио родителей</th>
                        <th>номер родителей</th>
                        <th>ФИО студента</th>
                        <th>ИНН</th>
                        <th>Адрес</th>
                        <th>Номер студента</th> 
                        <th>Пол студента</th>
                        <th>Откуда  ?</th>
                        <th>Нация студента</th>
                        <th>Владения языков</th>
                        <th>Договор</th>
                        <th>Статус</th>
                        <th>Долг</th>
                        <th>Примечания</th>
                        <th>Ноутбук</th>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>27.11.2005</td>
                        <td>1</td>
                        <td>Исаев Ильязбек Эркинбаевич</td>
                        <td>0558000350</td>
                        <td>Эркинбаев Нурболот</td>
                        <td>9938572935910</td>
                        <td>Мухаммед Али Джиннах</td>
                        <td>0777687423</td>
                        <td>Мужской</td>
                        <td> Пробный урок</td>
                        <td>0777687423</td>
                        <td>0777687423</td>
                        <td>0777687423</td>
                        <td>0777687423</td>
                        <td>0777687423</td>
                        <td>0777687423</td>
                        <td>0777687423</td>



                    </tr>
            
                </table>
            </div>

        <!-- Footer Area
        ============================================ -->
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-text">
                            <p>Copyright @ 2017 <a href="http://codeshaper.net/" target="_blank">Codeshaper</a> all right reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-menu">
                            <nav>
                                <ul>
                                    <li><a href="index.html">Home </a></li>
                                    <li><a href="index.html">About</a></li>
                                    <li><a href="index.html">Terms</a></li>
                                    <li><a href="index.html">Privacy Policy</a></li>
                                    <li><a href="index.html">Licenses</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Area
        ============================================ -->

        <!-- JS -->
        <!-- jQuery JS
        ============================================ -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap JS
        ============================================ -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- counter JS
        ============================================ -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="assets/js/jquery.counter.min.js"></script>
        <!-- swiper slider JS
        ============================================ -->
        <script src="assets/js/swiper.min.js"></script>
        <!-- slider JS
        ============================================ -->
        <script src="assets/js/jquery.ba-cond.min.js"></script>
        <script src="assets/js/jquery.slitslider.js"></script>
        <!-- Plugins JS
        ============================================ -->
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/jquery.prettyPhoto.js"></script>
        <!-- Plugins JS
        ============================================ -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy3tyin_u6qIdt1Z82yv3mOUcgjaVtRi0"></script>
        <script src="assets/js/map.js"></script>
        <!-- form JS
        ============================================ -->
        <script src="assets/js/form-contact.js"></script>
        <!-- owl carrosel JS
        ============================================ -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- smooth scroll JS
        ============================================ -->
        <script src="assets/js/smooth-scroll.min.js"></script>
        <!-- Plugins JS
        ============================================ -->
        <script src="assets/js/plugins.js"></script>
        <!-- Main JS
        ============================================ -->
        <script src="assets/js/main.js"></script>
        
    </body>
</html>